<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
<script src="/javascripts/player.js"></script>
<link rel="stylesheet" href="/stylesheets/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="comment-scroller-container">
  <div class="comment-scroller">
    <input id="comment-message" />
    <button id="comment-button" class="btn btn-genre" onclick="comment()">comment</button>
  </div>
</div>
