<link rel="stylesheet" href="/stylesheets/style.css">

<p><a href="/">back</a> <a href="/edit/<%= madlib.id %>/">edit</a></p>
<h1><%= madlib.title %></h1>
<p>
  <%= madlib.madlib %>
</p>
<small>category: <%= madlib.category %></small>
