@import url('https://fonts.googleapis.com/css?family=Roboto|Varela+Round&display=swap');

body {
  /* padding: 50px; */
  padding: 0;
  margin: 0;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 10em;
}

.comment {
  position: fixed;
  top: 50%;
  left: 50%;
  transition: transform 10s linear;
  white-space: nowrap;
  color: white;
  font-size: 96px;
  /* text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px; */
  -webkit-text-stroke: 2px black;
}

.comment-scroller {
  max-width: 500px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  justify-content: center;
}

#comment-message {
  margin-bottom: 1em;
  padding: 1em;
  font-size: 16px;
}

#comment-message.error {
  border: 1px solid red;
}

#comment-button {
  padding: 1em;
  font-size: 16px;
}

.madlib data {
  display: inline-block;
  min-width: 32px;
  font-weight: bold;
}

.madlib data:empty:before {
  content: attr(placeholder);
}

#hide:checked ~ p span {
  display: none;
}

#hide:checked ~ p data {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.play-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url('/images/background.gif')
}

.btn-genre {
  background: salmon;
  border: 4px solid rgba(256,256,256,0.75);
  border-radius: 35px;
  height: 85px;
  width: 300px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(117,117,117,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(117,117,117,1);
  box-shadow: 0px 0px 0px 1px rgba(117,117,117,1);
}

.btn-genre span {
  opacity: 0.65;
}

.btn-genre-2 {
  background: #cc6666;
}

.btn-genre-6 {
  background: #99cc99;
}

.btn-genre-1 {
  background: #666699;
}

.btn-genre-3 {
  background: #9999cc;
}

.btn-genre-5 {
  background: #cc6699;
}

.btn-genre-7 {
  background: #cccc66;
}

.btn-genre-4 {
  background: #99cccc;
}

@keyframes rotating {
  0% {transform: rotate(-10deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(-10deg);}
}

.rotating {
  display: inline-block;
  animation: rotating 4s infinite;
}

.ohshit {
  height: 0px;
  font-family: "Comic Sans MS";
  font-size: 35px;
  margin-top: -10px;
  margin-left: -300px;
  -webkit-text-stroke: 2px white;
}

.ohshitright {
  height: 0px;
  font-family: "Comic Sans MS";
  font-size: 35px;
  margin-top: -20px;
  margin-right: -350px;
  -webkit-text-stroke: 2px white;
}

.madlib-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url('/images/background.png');
}

.id1{
  text-align: left;
  font-size: 0;
  width: 275px;
  border: 5px pink solid;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(117,117,117,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(117,117,117,1);
  box-shadow: 0px 0px 0px 1px rgba(117,117,117,1);
  }

  .id1 input {
    height: 30px;
    font-size: 20px;
  }

  .id1.hide-madlib input {
    width: 100%;
  }

  .id1 h1{
    /* font-size: 20px; */
    font-family: 'Varela Round', sans-serif;
  }

.show-madlib {
  font-size: 18px; width: 600px;
}

.hidden {
  display: none;
}