@import url('https://fonts.googleapis.com/css?family=Roboto|Varela+Round&display=swap');

body {
  padding: 0;
  margin: 0;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 10em;
}

.comment {
  position: fixed;
  top: 50%;
  left: 50%;
  transition: transform 10s linear;
  white-space: nowrap;
  color: #222222;
  font-size: 128px;
  /* text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px; */
  -webkit-text-stroke: 3px white;
  font-family: 'Varela Round', sans-serif;
}

.comment-scroller-container {
  min-height: 100vh;
  background-image: url('/images/background.png');
}

.comment-scroller {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Varela Round', sans-serif;
}

#comment-message {
  margin-bottom: 1em;
  padding: 1em;
  background: white;
  border: none;
  border-radius: 35px;
  font-size: 30px;
  font-family: 'Varela Round', sans-serif;
  max-width: 80vw;
  border: 5px solid transparent;
}

#comment-message.error {
  border: 5px solid red;
  font-family: 'Varela Round', sans-serif;
}

.play-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-image: url('/images/background.gif');
  min-height: 100vh;
}

.btn-genre {
  background: salmon;
  border: 4px solid rgba(256,256,256,0.75);
  border-radius: 35px;
  height: 85px;
  width: 300px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  margin: 10px;
  box-shadow: 0px 0px 0px 1px rgba(117,117,117,1);
  cursor: pointer;
  outline: none;
}

.btn-small {
  width: 150px;
  font-size: 15px;
  height: 40px;
  font-weight: normal;
  background: none;
}

.btn-genre:disabled {
  opacity: 0.8;
}

.btn-genre:hover {
  border-color: rgba(256, 256, 256, 1);
  box-shadow: none;
}

.btn-genre:active {
  transform: translate(3px, 3px);
}

.btn-genre span {
  opacity: 0.65;
}

.btn-genre-2 {
  background: #cc6666;
}

.btn-genre-6 {
  background: #99cc99;
}

.btn-genre-1 {
  background: #666699;
}

.btn-genre-3 {
  background: #9999cc;
}

.btn-genre-5 {
  background: #cc6699;
}

.btn-genre-7 {
  background: #cccc66;
}

.btn-genre-4 {
  background: #99cccc;
}

@keyframes rotating {
  0% {transform: rotate(-10deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(-10deg);}
}

.rotating {
  display: inline-block;
  animation: rotating 4s infinite;
}

.ohshit {
  height: 0px;
  font-family: "Comic Sans MS";
  font-size: 35px;
  margin-top: -10px;
  margin-left: -300px;
  -webkit-text-stroke: 2px white;
}

.ohshitright {
  height: 0px;
  font-family: "Comic Sans MS";
  font-size: 35px;
  margin-top: -20px;
  margin-right: -350px;
  -webkit-text-stroke: 2px white;
}

.madlib-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-image: url('/images/background.png');
  min-height: 100vh;
}

.show-madlib {
  font-size: 18px; width: 600px;
}

.hidden {
  display: none;
}

.madlib-content {
  text-align: left;
  width: 400px;
  border: 5px pink solid;
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  line-height: 1.4em;
  box-shadow: 0px 0px 0px 1px rgba(117,117,117,1);
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
}

.madlib-container h1 {
  font-family: 'Varela Round', sans-serif;
}

.madlib-container.playing h1 {
  display: none;
}

.madlib-container data {
  display: inline-block;
}

.madlib-container data:empty:before {
  content: attr(placeholder);
}

.madlib-container .madlib-done {
  display: none;
}

.madlib-container .madlib-back {
  display: block;
}

.madlib-container.playing span {
  display: none;
}

.madlib-container.playing data {
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin-bottom: 0.5em;
  box-sizing: border-box;
}

.madlib-container.playing .madlib-done {
  display: block;
}

.madlib-container.playing .madlib-back {
  display: none;
}

.madlib-container.playing p {
  margin: 0;
}

.madlib-container p {
  margin-bottom: 0.3em;
}

.madlib-container data {
  display: inline-block;
  min-width: 32px;
  font-weight: bold;
}
